.lap-time {
  font-variant-numeric: tabular-nums;
}

.slow-lap {
  color: rgb(255, 69, 58);
}

.fast-lap {
  color: rgb(48, 209, 88);
}

.row-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.725);
  line-height: 12px;
}

.blank-row {
  color: black;
}
